<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>user profile</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/style.css">
</head>

<body>
	<h1><%= pageTitle %></h1>

	<div>
		ID: <%= user.id %><br>
		Name: <%= user.name %><br>
		Email: <%= user.email %><br>
		Phone: <%= user.phone %>
	</div>

	<div>
		Hobbies:
		<ul>
			<%
				user.hobbies.forEach(hobby => {
					%>
						<li><%= hobby %></li>
					<%
				})
			%>
		</ul>
	</div>

	<% if (user.id == 1337) { %>
		<img src="/elite.gif">
	<% } %>
</body>
</html>
