<%- include('../layout/header'); -%>

<% if (cafee) { %>
	<h1><%= cafee.name %></h1>
	<h2><%= cafee.address ? cafee.address + ', ' + cafee.city : cafee.city %></h2>

	<% if (owner) { %>
		<hr>

		<h3>Ägare</h3>
		<p><a href="/owners/<%= owner.id %>"><%= owner.first_name %> <%= owner.last_name %></a></p>
	<% } %>

	<hr>

	<h3>Kategorier</h3>
	<p>
		<% if (categories.length) { %>
			<%= categories.map(category => category.name).join(', ') %>
		<% } else { %>
			Caféet saknar kategorier.
		<% } %>
	</p>
<% } else { %>
	<p>Ledsen, det där caféet kunde inte hittas.</p>
<% } %>

<div class="mt-4 d-flex justify-content-between">
	<a href="/cafees/" class="btn btn-secondary">Tillbaka till caféerna</a>
	<a href="/cafees/<%= cafee.id %>/edit" class="btn btn-warning">Redigera café</a>
</div>

<%- include('../layout/footer'); -%>
