<%- include('../layout/header'); -%>

<% if (cafee) { %>
	<h1><%= cafee.name %></h1>
	<h2><%= cafee.address %>, <%= cafee.city %></h2>
<% } else { %>
	<p>Ledsen, det där caféet kunde inte hittas.</p>
<% } %>

<div class="mt-4 d-flex justify-content-between">
	<a href="/cafees/" class="btn btn-secondary">Tillbaka till caféerna</a>
	<a href="/cafees/<%= cafee.id %>/edit" class="btn btn-warning">Redigera café</a>
</div>

<%- include('../layout/footer'); -%>
