<%- include('../layout/header'); -%>

<% if (cafee) { %>
	<h1><%= cafee.name %></h1>
	<h2><%= cafee.address %>, <%= cafee.city %></h2>
<% } else { %>
	<p>Ledsen, det där caféet kunde inte hittas.</p>
<% } %>

<div class="mt-4">
	<a href="/cafees/">Tillbaka till caféerna</a>
</div>

<%- include('../layout/footer'); -%>
